* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#barra {
    width: 100%; height: 55px;
    background-color: #043392;
}

body {
    background-color: #EAEEFA;
    box-sizing: border-box;
}
h4{
    text-align: center;
}

#cajas {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    box-sizing: border-box;
    padding: 10px;
}

#cajaPrincipal {
    overflow: auto;
    width: 58em; height: 80vh;
    background-color: #ffffff;
    margin-right: 30px; margin-left: 20px;
    border-radius: 12px;
    transition: all 200ms linear;
    flex-shrink: 100;
    padding: 10px;
}
#containerMesas{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lineaMesa{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mesasTomar{
    background: green;
    width: 150px; height: 150px;
    border-radius: 50%; box-sizing: border-box;
    text-align: center; padding-top: 3.6em;
}
#ladoDerecho {
    display: flex;
    flex-direction: column;
    width: 21em; height: 42em;
    box-sizing: border-box;
}
#cajaSecundaria {
    width: 12em; height: 25em;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 12px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
}
#containerFichaMesa{
    display: none;
}
#containerFichaMesa2{
    margin: auto; margin-top: 1em;
    width: 8.7em; height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap; border-radius: 8px;
    padding: 6px; background: #2300ff;
}
.valoresPersonaMesa{
    width: 10em; justify-items: center;
}

@media (max-width: 1193px){
    #cajaPrincipal{
        height: 90vh;
    }
    #cajaSecundaria{
        height: 78vh;
    }
}
@media (max-width: 1193px) {
    #cajaPrincipal {
        height: 90vh;
    }
    #cajaSecundaria {
        height: 78vh;
    }
}

@media (max-width: 660px) {
    #cajas {
        flex-direction: column;
    }
    #cajaPrincipal {
        width: 100%;
        height: 80vh;
    }
    #ladoDerecho {
        flex-direction: row;
        width: 100%;
        height: 35vh;
        margin-top: 10px;
    }
    #cajaSecundaria {
        width: 68%;
        height: 35vh;
        flex-shrink: 100;
    }
}

@media (max-width: 620px) {
    body {
        padding: 0;
    }
    #ladoDerecho {
        flex-direction: column;
        width: 100%;
        height: 70vh;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #cajaSecundaria {
        width: 100%;
        height: 80vh;
    }
}
#confirmar{
    display: none;
}
.pedirButton{
    background: transparent;
}.pedirButton:hover{
    background: #aaa;
}

#containerGeneralPestanaItem{
    display: none;
}
#containerGeneralpestanaPago{
    display: none;
}